<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <style>
        .login-container {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        h1 {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #3e8e41;
        }
        .msg{
            display: flex;
            justify-content: center;
            padding: 4px;
        }
        .create-ac{
            display: flex;
            justify-content: center;
            padding: 6px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/user/login" method="post">
            <label for="email">Username:</label>
            <input type="text" id="email" name="email" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>
        <a href="https://didactic-tribble-5jxpjq447q727wqw-8001.app.github.dev/signup" class="create-ac">Create an Account.</a>
    </div>
    <div class="msg"> <%= locals.error %> </div>

</body>

</html>